.git
.github
**/node_modules
**/.next
**/dist
**/build
**/out
**/*.tsbuildinfo
.env
.env.*
**/.env
**/.env.*
secrets
uploads
api/uploads
*.log
*.md
.vscode
.idea
coverage
.e2e
playwright-report
test-results
docker-compose*.yml
.venv
